@font-face{
    font-family: altone;
    src: local(altone), 
         url(fonts/altone-font/altone-trial.bold.ttf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.background-image-container{
    all: initial;
    width: 100%;
    height: 100%;
    background: #191919;
    position: fixed;
}

.bg-image{
    all: initial;
    width: 2000px;
    height: 1333px;
	opacity: 100%;
    margin-left: -50px;
    margin-top: -100px;
    z-index: -1;
}

.container{
    all: initial;
    background-color: white;
}

.header{
    width: 100%;
    top: 0;
    height: 80px;
}

.homepage-title{
    float: left;
}

.nav-bar{
	position: fixed;
    margin-top: 20px;
    margin-left: 50%;
    float: left;
	z-index: 99;
}

#nav-button{
    font-family: altone;
    text-decoration: none;
    color: white;
}
#nav-button:hover {opacity: 0.5}

.info-button{
    all: initial;
    float:left;
    border-right: 2px solid white;
    padding-right: 20px;
}

.demo-button{
    all: initial;
    float:left;
    border-right: 2px solid white;
    padding-right: 20px;
    padding-left: 20px;
}

.contact-button{
    all: initial;
    float:left;
    padding-left: 20px;
}

.title{
    all: initial;
    height: 50px;
    margin-left: 25px;
}

body{
    vertical-align: auto;
    background: #191919;
    font-family: altone;
}

.background-content{
    all: initial;
    margin-top: 2%;
    margin-left: 6%;
    width: 130vh;
    position: fixed;
    z-index: 99;
    color: white;
    line-height: 1.25;
}

.email-input{
    all: initial;
    width: 50vh;
    height: 6vh;
    background: none;
    border: none;
    border-bottom: 3px solid white;
    font-family: altone;
    text-decoration: none;
    color: white;
    padding-left: 5px;
    font-size: 16px;
}

h1{
    all: initial;
    line-height: 1.15;
}

.typewrite{
    all: initial;
    text-decoration: none;
    color: white;
}

  
.email-button {
    margin-left: 10px;
    width: 120px;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.email-button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.typewrite{
    font-family: altone;
}

footer {
  background-color: rgba(6,140,73,1.00);
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 0;
  margin-left: -10px;
  padding-left: 30px;
  width: 120%;
  height: 2.5rem; 
  line-height: 2.5rem;
}